.right-modal {
  opacity: 0;
  transform: translateX(100%);
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.modal-filter-input {
  outline: none;
  border-bottom: 1px solid #0002;
  transition: 0.2s ease;
}

.modal-filter-input:focus {
  border-color: #000;
}
